<div>
    <h1 class="whiteCls">About Us</h1>
    <p class="paragraphClass textColorCls">
        The Hindu god Lord Krishna's favourite animal and the divine bovine, Kamadhenu or "Mother Cow" is revered as sacred by Hindus who constitute about 80 percent of the country's population. Sukhvir Singh Solanki, 52 years old always had dream of serving Holy Cows of India. He started his first step at very early stage. As he comes from village background, he is fond of animals. But as he grew up, he realized that now-a-days, People abandon holy Indian cows over zarsi cows due to profitability. You will never find any zarsi cow on roads but surely see Indian Cows roaming around on roads without food, and are forced to eat garbage. During rainy season they get drenched in water, winter they feel cold, nobody to look after.Today this revered animal suffers unimaginably at the hands of humans who exploit it incessantly.This all make him more eager to
     start taking a step in the favour of helpless creatures.He is been doing seva for multiple Gaushalas in Ghaziabad location by contributing money, fodder, wheat and also by performing seva to holy cows.
     He faced great hardships and began his mission humbly by building goshala or cow shelter where the animals can be taken care of. But this is an expensive proposition.
     There is heavy investment and no returns whatsoever, despite all the talk of the great medicinal value of cow urine and cow dung. One final day in 2014 he adopted one Desi cow. He started with the idea to keep one as there were no proper place and arrangement. 
    Ever since then there has been no turning back and somehow he managed to add one by one cow to his family and as of now the family consists of 30 Cows and 30 Calves including 5 Oxes.﻿</p>

    <div class="row">
        <div class="col-lg-7">
            <img src="../../Images/Calf3.JPG" />
        </div>
        <div class="col-lg-5" style="margin-left: -35px;">
            <h2 style="color:white">Mission</h2>
            <p class="subHeadingCls">Rescue</p>
            <p class="textColorCls">Our mission is to care for stray, abandoned cows, bulls, retired oxen, and orphaned calves. In order to achieve this we need to start building shelters in different areas.</p>
            <p class="subHeadingCls">Awareness</p>
            <p class="textColorCls">
                To create awareness and promote love for the cow - To systematically propagate spiritual knowledge to society at large and to educate all peoples in the techniques of saving Gau
                life in order to improve the health and count of our holy cows.
            </p>
            <p class="textColorCls">To enhance milk production and productivity of indigenous bovines.</p>
            <p class="subHeadingCls">Nutrition</p>
            <p class="textColorCls">To make cow-protection a people’s movement - Cow protection is not a charity but a social responsibility.</p>
            <p class="textColorCls"> To stop all the cruelty happening to cows and its progeny</p>
        </div>
    </div>
    <div class="alert alert-success" role="alert">
        Please join in our mission, we need your immense support in order to make our mission successful. Lets all join our hands for a good cause.!!
        </div>
    </div>