<div>
    <h2 class="textColorCls">
        Cow Milk Benefits According To Ayurveda
    </h2>
    <p class="textColorCls">Various products of cow are used in innumerable ways in Ayurveda. Cow milk stands first in them. Cow milk benefits are innumerable. Let us find out the effect of cow milk on Tridosha, when we can have cow milk, when we should not, in what diseases it is helpful and more.</p>

    <div class="row rowCls">
        <div class="panel panel-default panelCls">
            <div class="panel-heading panelHeadCls"><h3>Cow milk benefits:</h3></div>
            <div class="panel-body panelBodyCls">
                <p>
                    Sweet in taste (Swadu paka), heavy to digest, has coolant effect on the body (and mind).<br />
                    improves Ojas – Ojas is considered as the factor responsible for the immunity of the body.  (Ojovardhaka)<br />
                    Nourishes the body tissues (Dhatu vardhaka)<br />
                    Acts as natural aphrodisiac.<br />
                    Does rejuvenation, increases life expectancy.<br />
                    Improves intelligence, strength<br />
                    Increases breast milk in the feeding mother.<br />
                    Assists in easy movement (peristalsis) of intestines.<br />
                    Relieves tiredness, dizziness, excessive thirst and hunger.<br />
                    Useful in diseases like severe debility, relieving stage of fever, diseases related to urinary system, bleeding disorders such as nasal bleeding, heavy menstrual bleeding etc,<br />
                    Cow milk for newborn  – Cow milk is the next best thing to breast milk for the newborn.<br />
                </p>
                <p class="text-center">
                    स्वादु शीतं मृदु स्निग्धं बहलं श्लक्ष्णपिच्छिलम्|<br />
                    गुरु मन्दं प्रसन्नं च गव्यं दशगुणं पयः||२१७||<br />
                    तदेवङ्गुणमेवौजः सामान्यादभिवर्धयेत्|<br />
                    प्रवरं जीवनीयानां क्षीरमुक्तं रसायनम्||२१८||<br />
                </p>
                <p class="text-center">
                    svādu śītaṃ mṛdu snigdhaṃ bahalaṃ ślakṣṇapicchilam|<br />
                    guru mandaṃ prasannaṃ ca gavyaṃ daśaguṇaṃ payaḥ||217||<br />
                    tadevaṅguṇamevaujaḥ sāmānyādabhivardhayet|<br />
                    pravaraṃ jīvanīyānāṃ kṣīramuktaṃ rasāyanam||218||<br /> – Charaka Samhita Sutrasthana <br />
                </p>
                <p>
                    Cow milk has ten poprties viz,<br />
                    Swadu – Sweetness,<br />
                    Sheeta – cold<br />
                    Mrudu – soft<br />
                    Snigdha – unctuous, oily<br />
                    Bahala – density, thick<br />
                    Shlakshna – smoothness,<br />
                    Picchila – slimeness, stickiness<br />
                    Guru – heavy<br />
                    Manda – slowness<br />
                    Prasanna – calming, clarity.<br />
                    These are also the properties of Ojas. So milk having identical properties is conducive to thee promotion of Ojas, thus milk is an elixir per excellence (Rasyana)
                </p>
            </div>
        </div>
    </div>
    <div class="row rowCls">
        <div class="panel panel-default panelCls">
            <div class="panel-heading panelHeadCls"><h3>Various uses of cow milk in Ayurveda –</h3></div>
            <div class="panel-body panelBodyCls">
                <p>
                    <br />
                    1. Milk with herbs: When we wish to use certain herbs with pungent and hot properties in children, or in person with less strength, those herbs are processed with cow milk. This serves three purposes<br />
                    a. The herbal remedy gets the extra nutritional quality of milk<br />
                    b. The pungency and the strength of the herb is lowered. Thus the herbal formula is made suitable for patient with less strength.<br />
                    c. Milk acts as a fat and water soluble media for the active principles in the herb.<br />
                    Example: Garlic processed with milk, used in digestion problems.<br />
                    2. Cow milk in Ayurvedic oils – In processing many oils, where the oil is desired to have nourishing and rejuvenating effects, milk is added and processed along with oil and other herbs.
                    This is especially beneficial in Ayurveda oils that are used for massage against degenerative diseases like Osteo arthritis, used to calm burning sensation, used to heal nerve irritation and nerve pain, used to nourish and strengthen muscles and ligaments. Example: Ksheerabala Taila. Most of the herbal oils, which are used for nasal instillation or for internal administration are processed along with milk.
                    <br />
                    3. Shirodhara with Cow milk – Shirodhara is a procedure, where continuous stream of liquid is directed uniformly over the forehead region. Milk is used in cases where Vata and Pitta are involved. Like – headache and dizziness, which mainly have Vata and Pitta imbalance.
                    <br />
                    4. Cow Milk in Basti – Basti is a Panchakarma procedure, it is a type of enema. Milk processed with herbs is used for Basti in many acid peptic disorders, in Ayurveda.
                    <br />
                    5. Cow milk for gargling: To relieve burning sensation and to relieve oral ulcers.
                    <br /><br />
                </p>
            </div>
        </div>
    </div>
    <div class="row rowCls">
        <div class="panel panel-default panelCls">
            <div class="panel-heading panelHeadCls"><h3>Milk – a source of calcium</h3></div>
            <div class="panel-body panelBodyCls">
                <p>
                    Controversy with the modern science: Many argue that as we grow old, the enzymes useful for digestion and metabolism of milk no more exists in the body. Note that Ayurveda not only takes chemical effect of any substance into account, it also considers the physical effect of the substance as well.
                    Milk is a rich source of calcium. A study conducted by researchers at Institute of Aging Research, an affiliate of Harvard Medical School, has found that regular intake of milk and yogurt is associated with higher bone mineral desnity in the hip. The study also suggested that choosing low-fat milk / yogurt over cream can increase intake of protein, calcium and vitamin D while limiting intake of saturated fats.<br />
                    <h4>Research on Milk</h4>
                    College going kids who don’t consume at least three servings of milk / dairy daily are three times more likely to develop metabolic syndrome than those who do,as per the research conducted by University of Illinois. In the study, 339 Mexican college applicants filled out a food frequency questionnaire and were then evaluated for metabolic syndrome risk factors.<br />
                    Incompatibility with other substances:<br />
                    Milk along with sour substances and sour fruits is not recommended.
                    Milk along with horse gram is not recommended, because milk is coolant and Horse gram is hot in nature.
                    After consuming green leafy vegetables and radish drinking milk should be avoided.

                    <h4>A1 or A2 – which type of milk is best for which people?</h4>
                    I think this classification of A1 and A 2 comes from the presence of A1 or A2 types of beta casein – milk protein.
                    There is lot of marketing strategy around this to promote certain type of milk is good for certain country people – Reference
                    Hence, I will have to restrict my statement to – “Milk from locally grown cows, in their most natural habitat is best”.
                    Locally grown cows will eat and live in the same environment as the  local population. Hence, the milk from such cows will surely be congenial to the local country people. Hence, that is best for them.
                    <br />
                    <h4>Cow milk in anti ageing – rejuvenation procedures:</h4>
                    Cow milk is administered as the only diet throughout the day, while administering some of the anti ageing recipes such as Shilajeet Rasayan.
                    Cow milk along with cooked rice is the diet of choice while administering many other rejuvenation medicines such as Bramha Rasayan and Chyawanprash.
                    Its nutritious qualities support the anti ageing qualities of the Rasayana medicines.
                    It also nullifies the hot physical effects that may be generated due to long term administration of above medicines.
                    <br />
                    <h4>Cow milk recipe for strength:</h4>
                    Milk should be collected from a cow who is fed with the
                    Leaves of Masha – Black gram
                    Stalks of sugarcane or Leaves of Arjuna (terminalia arjuna)
                    The cow should be delivered only once,
                    Is well-nourished
                    Has 4 nipples in her udder
                    Has a calf having identical color
                    Whose calf is alive
                    Who is red or black in color
                    Whose horns are projected upwards
                    Who is not ferocious and
                    Whose milk is thick.
                    Dosage: Such a cow’s milk can be taken after boiling or even without it by adding sugar, honey and ghee.
                    This is an excellent diet to promote virility – Vrushyam – Uttamam.
                    <br />
                    <h4>Cow milk for purification of poisonous materials:</h4>
                    Milk is used in detoxifying many herbal and mineral Ayurvedic ingredients such as Gunja – Abrus seeds
                    <br />
                    <h4>Cow milk side effects:</h4>
                    Excess intake of raw milk (not boiled, Ama Ksheera) may cause Hikka (hiccups) and Shwasa – respiratory disorders with difficulty of breathing.
                    <br />
                    <h4>Contra indications: When to avoid cow milk</h4>
                    <p class="text-center">नवज्वरे च मन्दाग्नौ आमदोषेषु कुष्ठिनाम् । शूलिनां कफदोषेषु कासिनामतिसारिणाम् ॥ यो. र. २</p>
                <p class="text-center">navajvare ca mandāgnau āmadoṣeṣu kuṣṭhinām | śūlināṃ kaphadoṣeṣu kāsināmatisāriṇām || yo. ra. 2</p>
                    In below conditions, it is best to avoid cow milk intake:<br />
                    Navajwara – fever of recent onset<br />
                    Mandagni – indigestion, low digestion strength. Cow milk being heavy to digest, may worsen low digestion strength.<br />
                </p>
            </div>
        </div>
    </div>
        </div>
