<div>
    <div class="row text-center donateImg center">
        <div class="row-lg-12  textColorCls">
                <p style="font-size:40px;"> The measure of a life, after all,</p>
                 <p style="font-size:40px;"> is not its duration, but its donation.</p>
            <div class="formCls col-md-offset-2 col-lg-8">
                <h2>Please Help Us!</h2>
                <p>Currently we are working on online transaction, it would be great if you can help us giving cheque or transfer directly to our account. Details are:</p>
                <p>Account Name: Sukhvir Singh Solanki</p>
                <p>Account Number: 1234567890</p>
                <p>Bank: OBC</p>
                <p>Branch: Vaishali, Sec - 4</p>
                <p>IFSC: 125474ASDF</p>
            </div>
        </div>
        </div>
    <div class="alert alert-success" role="alert">Thank you for your contribution</div>

    </div>