
<div>
    <div class="row text-center center">
        <div class="col-lg-6 col-md-5">
            <div class="paddingCls">
                <img src="../../Images/download.JPG" />
                <div class="caption textColorCls">
                    <h2>Welcome to Shanti Gaushala</h2>
                    <p>The Hindu god Lord Krishna's favourite animal and the divine bovine, Kamadhenu or "Mother Cow" is revered as sacred by Hindus who constitute about 80 percent of the country's population.</p>
                    <p><a class="btn btn-primary btn-lg" href="#/welcome" role="button">Read more</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-5">
            <div class="paddingCls">
                <img src="../../Images/download (1).jpg" />
                <div class="caption textColorCls">
                    <h2>Care for Cows</h2>
                    <p>Cow protection is not a charity but a social responsibility. Cows are considered sacred and a sign of prosperity and happiness.<p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Read more</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center center">
            <div class="paddingCls col-lg-12" style="margin-left:20px">
                <div class="col-lg-4" style="padding-top:40px">
                    <img src="../../Images/download (1).jpg" />
                </div>
                <div class="caption col-lg-8 textColorCls">
                    <h2>Importance of Cows</h2>
                    <p class="paragraphClass">
                        According to Indologist, Kamadhenu or Kamaduh is the generic name of the sacred cow, who is regarded as the source of all prosperity in Hinduism. Kamadhenu is regarded as a form of Devi and is closely related to the fertile Mother Earth (Prithvi), who is often described as a cow in Sanskrit. The sacred cow denotes "purity and non-erotic fertility, sacrificing and motherly nature, sustenance of human life".
                        Kamadhenu describes as a "popular and enduring image in Indian art".
                    <p><a class="btn btn-primary btn-lg" href="#/importance" role="button">Read more</a></p>
                </div>
            </div>
    </div>
</div>