
<div>
    <h1 class="whiteCls">Importance of Gau</h1>
    <p class="paragraphClass textColorCls">
        According to Indologist, Kamadhenu or Kamaduh is the generic name of the sacred cow, who is regarded as the source of all prosperity in Hinduism. Kamadhenu is regarded as a form of Devi and is closely related to the fertile Mother Earth (Prithvi), who is often described as a cow in Sanskrit. The sacred cow denotes "purity and non-erotic fertility, sacrificing and motherly nature, sustenance of human life".

        Kamadhenu describes as a "popular and enduring image in Indian art".
        All the gods are believed to reside in the body of Kamadhenu—the generic cow. Her four legs are the scriptural Vedas; her horns are the triune gods Brahma (tip),
         Vishnu (middle) and Shiva (base); her eyes are the sun and moon gods, her shoulders the fire-god Agni and the wind-god Vayu and her legs the Himalayas.
         Kamadhenu is often depicted in this form in poster art.
        A cow, identified with Kamadhenu, is often depicted accompanying the god Dattatreya. In relation to the deity's iconography, 
        she denotes the Brahminical aspect and Vaishnava connection of the deity contrasting with the accompanying dogs—symbolizing a non-Brahminical aspect.
         She also symbolizes the Panch Bhuta (the five classical elements) in the icon. Dattatreya is sometimes depicted holding the divine cow in one of his hands.
    </p>
    <br />
    <center><img src="../../Images/shlokCow.jpg" /></center>
</div>