<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        <li><a class="headerMenu" href="#/home">Home</a></li>
        <li><a class="headerMenu" href="#/aboutUs">About Us</a></li>
        <li class="dropdown">
                <a class= "dropdown-toggle headerMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Cow<span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-left nav submenuCls">
                    <li><a class="" href="#/benefits">Benefits of Cow Milk</a></li>
                    <li><a class="" href="#/gauseva">Gau Seva</a></li>
                    <li><a class="" href="#">Myself</a></li>
                </ul>
        </li>
        <!--<a class="headerMenu" href="#/gauseva">Gau Seva</a></li>-->
        <li><a class="headerMenu" href="#/gallery">Gallery</a></li>
        <li><a class="headerMenu" href="#/contact">Contact Us</a></li>
    </ul>
</div>


<!--<li>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
        </ul>
    </div>
</li>-->
