<div class="row">
    <div>
        <h3 class="whiteCls"><strong>History</strong></h3>
        <div class="textColorCls">
            <p class="paragraphClass">
                Hindus are worshipers of nature’s forces. We worship Vayu, Agni, Varuna, Indra, Prithvi and so on. They are natural forces embodied in the form of gods. Not just nature, we also have an age old tradition of worshiping nature’s creations such as animals, plants and trees. One of the most venerated animals in Hinduism is the cow. Hindus often refer to cows as the mother of earth because they give a lot for the human race. Each and every product from a cow is beneficial to man. Though most people raise cows for milk and other dairy products, even the manure and urine of cows are considered to have medicinal properties and serve as excellent disinfectants.
            </p>
            <!--<p class="paragraphHeading">
                <strong>Cow Protection</strong>
            </p>-->
            <p class="paragraphClass">
                Cow milk is considered the nearest alternative to human milk for human newborns. Ayurveda the greatest sciences of the Hindu society talks in detail about a medicine for plants known as panchagavya, this is used to stimulate growth in plants. It is made out of cow milk, curd, clarified butter-ghee, cow’s urine and cow dung.
            </p>
            <p class="paragraphClass">
                <center class="whiteCls"><h3>"SARVE DEVAAH STHITA DEHE SARVA DEVAMAYEEHI GAOU"</h3></center>
                <br />
                The above shloka means that all the deities dwell in the body of a cow. Therefore the cow itself is as holier, as the deities.
                The cow symbolizes the dharma itself. It is said to have stood steadily upon the earth with its four feet during the Satyug (world's first age of truth), upon three feet during the Tretayug (the second stage of less than perfection), upon two feet during the Dwaparyug (the third stage of dwindling and disappearing perfection) and only on one leg during Kaliyug (the fourth and current age of decadence)
                The name for cow in the Vedas is known asaghyna which means invioable.
                Another name is "ahi" which means not to be killed and another is "aditi" which means never to be cut into pieces.
            </p>
            <p class="paragraphClass">
                <center class="whiteCls">
                    <h3>
                        "go-ange yata loma tata sahasra vatsara<br />
                        go-vadhi raurava-madhye pace nirantar."
                    </h3>
                </center>

                Cow killers and cow eaters are condemned to rot in hell for as many thousands of years as there are for each hair on the body of every cow they eat from. Cows are superior to all yogis and ascetics and because of this liberated divine being perform their austerities in the company and presence of cows.
            </p>
            <p class="paragraphClass">
                The arguments for cow slaughter are no more uncontested. There are better sources of protein than beef. Any dietician’s chart shows that beef with 22 per cent protein ranks below soya-bean (43), groundnut (31) and pulses (24 per cent). One kilogram of beef takes seven kg of crops and 7,000 kg of water to produce.
            </p>
        </div>
    </div>
</div>